---
import type { SiteMeta } from 'astro-pure/types'
import JsonLd from '@/components/JsonLd.astro'
import config from '@/site-config'

type Props = SiteMeta & {
  noindex?: boolean
}

const { articleDate, description, noindex = false, ogImage, title } = Astro.props

const siteTitle = `${title} ${config.titleDelimiter} ${config.title}`
const canonicalURL = new URL(Astro.url.pathname, Astro.site)
const socialImageURL = new URL(ogImage ? ogImage : '/og/default.png', Astro.url).href
const socialImageAlt = `${title} social preview`
const origin = Astro.site!.origin
const siteGraph = {
  '@context': 'https://schema.org',
  '@graph': [
    {
      '@type': 'WebSite',
      '@id': `${origin}/#website`,
      url: `${origin}/`,
      name: config.title,
      description: config.description,
      inLanguage: 'zh-CN',
      publisher: { '@id': `${origin}/#person` }
    },
    {
      '@type': 'Person',
      '@id': `${origin}/#person`,
      name: config.author,
      url: `${origin}/`,
      image: `${origin}/favicon/favicon.svg`,
      sameAs: ['https://github.com/OutlierLi']
    }
  ]
}
---

<meta charset='utf-8' />
<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
<meta content='IE=edge' http-equiv='X-UA-Compatible' />
<title>{siteTitle}</title>

<link rel='icon' type='image/svg+xml' href='/favicon/favicon.svg' />
<link rel='preload' href='/fonts/Satoshi-Variable.ttf' as='font' type='font/ttf' crossorigin />
<link rel='canonical' href={canonicalURL} />

<meta content={siteTitle} name='title' />
<meta content={description} name='description' />
<meta content={config.author} name='author' />
<meta content={noindex ? 'noindex, follow' : 'index, follow'} name='robots' />
<meta content='hsl(210 33% 99%)' media='(prefers-color-scheme: light)' name='theme-color' />
<meta content='hsl(240 20.54% 5.2%)' media='(prefers-color-scheme: dark)' name='theme-color' />

<meta content={articleDate ? 'article' : 'website'} property='og:type' />
<meta content={title} property='og:title' />
<meta content={description} property='og:description' />
<meta content={canonicalURL} property='og:url' />
<meta content={config.title} property='og:site_name' />
<meta content='zh_CN' property='og:locale' />
<meta content={socialImageURL} property='og:image' />
<meta content={socialImageAlt} property='og:image:alt' />
<meta content='1200' property='og:image:width' />
<meta content='630' property='og:image:height' />
{
  articleDate && (
    <>
      <meta content={config.author} property='article:author' />
      <meta content={articleDate} property='article:published_time' />
    </>
  )
}

<meta content='summary_large_image' property='twitter:card' />
<meta content={canonicalURL} property='twitter:url' />
<meta content={title} property='twitter:title' />
<meta content={description} property='twitter:description' />
<meta content={socialImageURL} property='twitter:image' />
<meta content={socialImageAlt} property='twitter:image:alt' />

<link href='/sitemap.xml' rel='sitemap' type='application/xml' />
<link rel='alternate' type='application/rss+xml' title={config.title} href={`${Astro.site}rss.xml`} />
<meta content={Astro.generator} name='generator' />
<JsonLd schema={siteGraph} />
<link rel='stylesheet' href='/styles/global.css' />
